<article id="<%= page.layout %>-<%= page.slug %>" class="article article-type-<%= page.layout %>" itemscope itemprop="blogpage">
    <div class="article-inner">
      <%- partial('post/gallery') %>
      <% if (page.link || page.title){ %>
        <header class="article-header">
          <%- partial('post/title', {class_name: 'article-title'}) %>
        </header>
      <% } %>
      <div class="article-entry" itemprop="articleBody">
          <%- page.content %>
      </div>
      <footer class="article-footer">
        <a data-url="<%- page.permalink %>" data-id="<%= page._id %>" class="article-share-link"><i class="fas fa-share"></i> <%= __('share') %></a>
      </footer>
    </div>
    <%- partial('post/nav') %>

  </article>
<script>
    var puntos;
    function colorPorCategoria(categoria){
        var colores = {
            'hostel': 'red',
            'financiero': 'yellow',
            'turismo': 'green',
            'transporte': 'purple',
            'restaurante': 'pink', 
        }
        return colores[categoria] || 'blue'
    }

    function iconoPorCategoria(categoria){
        var icons = {
            'hostel': 'fa-home',
            'financiero': 'fa-dollar-sign',
            'turismo': 'fa-map-pin',
            'transporte': 'fa-bus',
            'restaurante': 'fa-utensils', 
        }
        return icons[categoria] || 'fa-map-pin'
    }

    document.addEventListener("DOMContentLoaded", function() {
        var center = JSON.parse('<%- JSON.stringify(page.center) %>');
        var map = L.map('mapid').setView(center, 16);

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
        {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
            maxZoom: 18,
            minZoom: 15,
        }).addTo(map);

        puntos = JSON.parse('<%- JSON.stringify(page.puntos) %>');
        puntos.forEach(function(punto){
            L.marker(punto.coordenadas,{
                title:punto.nombre,
                icon: L.divIcon({
                    html: `<i class="fas ${iconoPorCategoria(punto.tipo)}" style="color: ${colorPorCategoria(punto.tipo)};"></i>`,
                    iconSize: [70, 70],
                    className: 'myDivIcon'
                })
            })
            .bindPopup(`<b>${punto.nombre}</b><br>${punto.tipo}.`).addTo(map); 
        })
        L.control.scale().addTo(map);

        var legend = L.control({position: 'topleft'});
        legend.onAdd = function (map) {
            var div = L.DomUtil.create('div', 'infoLegend legend'),
                categorias = ['hostel', 'financiero', 'turismo', 'transporte', 'restaurante'],
                labels = [];
            // loop through our density intervals and generate a label with a colored square for each interval
            // for (var i = 0; i < categorias.length; i++) {
            //     div.innerHTML += `<i class="fas ${iconoPorCategoria(categorias[i])}" style="color: ${colorPorCategoria(categorias[i])};"></i>${categorias[i]}<br />`;
            // }

            var strRow = ""
            for (var i = 0; i < categorias.length; i++) {
                strRow += `
                <tr><td><i class="fas ${iconoPorCategoria(categorias[i])}" style="color: ${colorPorCategoria(categorias[i])};"></i></td><td>${categorias[i]}</td></tr>`;
            }
            div.innerHTML += `<table cellspacing="0" cellpadding="0" style='margin: 0px; border: none; border-collapse:collapse;'>${strRow}</table>`;
            return div;
        };
        legend.addTo(map);

        // map.on('moveend', function() { 
        //     console.log(map.getBounds());
        // });
        // northEast: Object { lat: -18.146341143333668, lng: -63.79760537499168 }
        // _southWest: Object { lat: -18.211578414372248, lng: -63.95124230736473 }
    });
</script>