<div class="contact-buttons" style="font-size: 3rem;text-align: center; margin-bottom: 10px;">
    <a href="https://m.me/<%- theme.fbid %>">
      <i class="fab fa-facebook-messenger"></i>
    </a>
    <a href="https://api.whatsapp.com/send?phone=<%- theme.wappNro %>">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a href="https://www.instagram.com/<%- theme.instagram %>">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com/<%- theme.facebook %>">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="mailto:<%- theme.email %>">
      <i class="fas fa-at"></i>
    </a>
  </div>